.flv-aside, .flv-aside * {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  text-decoration: none ; 
}

/* Contenedor principal */
.flv-aside {
  background-color: #fff;
  border: 1px solid #ebebeb; 
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  display: block;
}

/* header */
.flv-aside-header {
  padding: 12px 15px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.flv-aside-title {
  font-size: 14px;
  font-weight: 700;
  color: #565656; 
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.flv-icon-play {
  color: #fa8b42;
  font-size: 10px;
  display: flex;
  align-items: center;
}

.flv-icon-arrow {
  color: #fa8b42;
  font-size: 10px;
}

.flv-anime-list {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

/* Item de la lista */
.flv-anime-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 15px;
  border-bottom: 1px dashed #eee;
  transition: background-color 0.1s ease;
  cursor: pointer;
  color: #565656; 
  width: 100%;
}


.flv-anime-list li:last-child .flv-anime-item {
  border-bottom: none;
}


.flv-anime-item:hover {
  background-color: #f9f9f9;
}

.flv-item-left {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden; 
  padding-right: 5px;
  flex: 1; 
  min-width: 0; 
}

.flv-dot {
  font-size: 8px;
  color: #ddd;
  display: flex;
  align-items: center;
  flex-shrink: 0; 
}

.flv-anime-item:hover .flv-dot {
  color: #fa8b42; 
}


.flv-text {
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;     
  overflow: hidden;        
  text-overflow: ellipsis;  
  display: block; 
}

.flv-anime-item:hover .flv-text {
  color: #000; 
}


/* --- CAMBIO PRINCIPAL AQUÍ (DERECHA / BADGE) --- */
.flv-badge {
  font-size: 9px;
  font-weight: 700;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  min-width: fit-content;
  flex-shrink: 0;
  margin-left: auto; 
}

.flv-badge.anime {
  background-color: #00a2ff; 
}

.flv-badge.ova {
  background-color: #fa8b42; 
}

.flv-badge.pelicula {
  background-color: #f44336; 
}



@media (max-width: 1023px) {
  .flv-aside {
    display: none;
  }
}