*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Contenedor de la tarjeta */
.anime-card {
  position: relative;
  width: 100%; 
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 0; 
}

.anime-card2 {
  position: relative;
  width: 100%; 
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
  background-color: white; /* Para que el texto tenga fondo blanco */
  height: 100%; /* Asegura que todas las tarjetas de la fila midan lo mismo */
  display: flex;
  flex-direction: column; /* Apila imagen arriba y texto abajo */
}

.anime-card:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

.anime-card2:hover {
  transform: translate(-5px);
}

/* Imagen */
.anime-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 16/9; /* Mantiene proporción panorámica */
}

.anime-image2 {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 2/3;
}

/* Icono de Play */
.play-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 2px solid white;
  z-index: 2;
}

/* Contenedor de texto abajo */
.anime-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 10px 10px 10px;
  /* Degradado negro para que el texto blanco se lea bien */
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  z-index: 2;
  text-align: left;
}

.anime-info2 {
  position: relative;
  width: 100%;
  padding: 10px 5px;
  background: transparent;
  text-align: center;
}

/* Etiqueta Naranja */
.episode-badge {
  background-color: #ff8800; /* El color naranja de AnimeFLV */
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* Título */
.anime-title {
  color: white;
  font-size: 1rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Pone "..." si el texto es muy largo */
  font-weight: 600;
}

.anime-title2 {
  color: #333;
    font-size: 0.9rem;
    font-weight: 600;
    margin: -17px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Pone "..." si es muy largo */
}